<!--
<app-home></app-home>
<app-about></app-about>
<app-image-details></app-image-details>
<app-image-gallery></app-image-gallery>
<app-view-registration></app-view-registration>
<app-admin></app-admin>
-->

<div style="text-align: center;">
  <h1>Globomatics Bike System</h1>
    <h5><a [routerLink] = "['\home']">Carga Su Garantia de Bicicletas</a> </h5>
    <h5><a [routerLink] = "['\admin']">Listado de garantia Cargadas</a></h5>
    <h5><a [routerLink] = "['\galeria']">Ver galería de fotos</a> </h5>
</div>

<router-outlet></router-outlet>
