<h1 class="text-center m-5">Image Gallery</h1>
<div class ="container-fluid row">
<div class="card-group">
    <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/1']">  <img class="card-img-top" src="../../../assets/bici1.jpg" alt="Card image cap"></a>
    </div>
    <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/2']">  <img class="card-img-top" src="../../../assets/bici2.jpg" alt="Card image cap"></a>
    </div>
    <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/3']">  <img class="card-img-top" src="../../../assets/bici3.jpg" alt="Card image cap"></a>
    </div>
    <div class="w-100"></div>
    <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/4']">  <img class="card-img-top" src="../../../assets/bici4.jpg" alt="Card image cap"></a>
      </div>
      <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/5']">  <img class="card-img-top" src="../../../assets/bici5.jpg" alt="Card image cap"></a>
      </div>
      <div class="card col m-2">
        <a [routerLink] = "['/galeria/detalle/6']">  <img class="card-img-top" src="../../../assets/bici6.jpg" alt="Card image cap"></a>
      </div>
  </div>
</div>

-->